@model PasswordModel

<form asp-controller="Admin" asp-action="PasswordEdit" method="post">
    <input type="hidden" value=@Model.UserId name="UserId"/>
    <div style="height:30rem" class="d-flex justify-content-center align-items-center">
        <div class="card" style="width:24rem;">
            <div class="card-body">
                <h5 class="card-title text-center mb-3" style="color:cadetblue">Password Edit</h5>

                <div class="row m-3">
                    <div class="col-md-4">
                        <label style="font-family: 'Josefin Sans', sans-serif; color:#E38B29" asp-for="Password">Password</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" asp-for="Password" class="input-group-text" />
                    </div>
                </div>

                <div class="row m-3">
                    <div class="col-md-4">
                        <label style="font-family: 'Josefin Sans', sans-serif; color:#E38B29" asp-for="RePassword">RePassword</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" asp-for="RePassword" class="input-group-text" />
                    </div>
                </div>           
                              
              
                <div class="row m-3 d-flex justify-content-center">
                    <div class="col-md-4">                     
                        
                        <button style="
font-family: 'Josefin Sans', sans-serif; background-color:cadetblue" class="btn btn-sm text-light" type="submit">
                            EDIT
                        </button>
                    </div>
                </div>
                <div class="row m-3">
                    <span style="font-family: 'Josefin Sans', sans-serif; color:darkred" class="text-center">@ViewBag.PasswordErrorMessage</span>
                </div>
            </div>
        </div>
    </div>
</form>


